<div id="site-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="clearfix">
                        <button class="btn btn-warning btn-lg header-btn visible-sm pull-right">List your Property for Free</button>
                        <p class="timing-in-header">Open Hours: Monday to Saturday - 8am to 6pm</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="clearfix">
                        <a href="/cart" title="">
                            <div class="icon-cart" style="background: #fff;width: 40px;height: 40px;position: relative;border-radius: 50%;border: 1px solid #aaa;float:right;">
                                <img src="/images/cart.png" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;" alt="">
                            </div>     
                        </a>
                    </div>
                </div>
                <!-- <div class="col-md-1">
                    <div class="logout" class="clearfix">
                        <p>Log Out</p>
                    </div>
                </div> -->
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <figure id="site-logo">
                <a href="/"><img style="height: 58px" src="/images/logo.png" alt="Logo"></a>
            </figure>
        </div>
        <div class="col-md-6 col-sm-8">
            <nav id="site-nav" class="nav navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Listing</a></li>
                    <li><a href="/furnitureUpload">Sell&Rent</a></li>
                    <li><a href="/cart">My Cart</a></li>
                    <li><a href="/order">My Order</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="contact-in-header clearfix">
                <i class="fa fa-mobile"></i>
                <span>
                    Call Us Now
                    <br>
                <strong>111 222 333 444</strong>
                </span>
            </div>
        </div>
    </div>
</div>
